/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe.
**************************************************************************/

p {
	font-family: "LucidaGrande", sans-serif;
	text-align:center;
}

button
{
	font-family: "LucidaGrande", sans-serif;
	font-size:12px;
	border:1px solid #555;
	height:20px;
	margin: 5px 0px 0px 0px;
}

button:focus {outline:0;}

input[type=text]
{
	height:12px;
}

a {
	color: #bbb
}

#content {
	margin-right:auto;
	margin-left:auto;
	vertical-align:middle;
	width:100%;
}

#content ul {
	padding:0px;
}

#content ul li {
	margin:3px 0px 3px 0px;
}

.decorated{
     overflow: hidden;
     text-align: left;
		 font-family: arial;
		 font-size: 12px;
		 color: #bbb;
		 font-weight: normal;
		 margin: 2px 0 0 0;
		 width: 180px;
 }

.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid #777;
    width: 180px; /* half of limiter*/
    margin: 0 8px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	margin: 0;
	padding: 6px 0 0 0;
	border: 0;
  cursor: pointer;
	background-color: #232323;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:before {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 12px;
  color: white;
  float: left;
  margin-right: 8px;
}

.active:before {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
